* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: #ffffff;
}

.contact-section {
  padding: 80px 10%;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: flex-start;
}

/* LEFT */
.contact-info h2 {
color: #101828;
font-family: "Poppins";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 150% */
  margin-bottom: 12px;
}

.subtitle {
color: #4A5565;
font-family: "Arimo";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
  margin-bottom: 40px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}

.icon {
width: 96px;
height: 96px;
  /* border-radius: 12px; */
}

.email { background-image: url(imgs/email.png);}
.phone { background-image: url(imgs/phone.png);}
.location { background-image: url(imgs/location.png); }
.hours { background-image: url(imgs/business.png);}

.info-item h4 {
    color: #101828;
font-family: "Arimo";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
  margin-bottom: 4px;
}

.info-item p {
color: #4A5565;
font-family: "Arimo";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 8px;
color: #4A5565;
font-family: "Arimo";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact-form textarea {
  height: 140px;
  resize: none;
}

.contact-form button {
  background: #1f5cff;
  color: #fff;
  padding: 16px;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #1848cc;
}

.success-msg {
  display: none;
  margin-top: 16px;
  color: green;
  font-weight: 600;
}
