:root {
  /* Fonts */
  --font-primary: "Poppins";
  --font-secondary: "Arimo", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Colors */
  --color-white: #ffffff;
  --color-dark: #101828;
  --color-gray: #4A5565;
  --color-border: #dddddd;
    --accent-blue: #DBEAFE;
  --color-primary: #1f5cff;
  --color-primary-hover: #1848cc;
  --color-success: green;

  /* Font Sizes */
  --fs-h2: 24px;
  --fs-h4: 18px;
  --fs-body: 16px;
  --fs-small: 14px;

  /* Line Heights */
  --lh-h2: 36px;
  --lh-h4: 27px;
  --lh-body: 24px;

  /* Spacing & Layout */
  --section-padding: 80px 10%;
  --gap-lg: 80px;
  --gap-md: 40px;
    --spacing-md: 30px;
  --gap-sm: 24px;

  /* Sizes */
  --icon-size: 96px;
  --radius-sm: 12px;
  --radius-md: 14px;

  /* transition */
    --transition-fast: 0.3s ease;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background: var(--color-white);
}

.navbar {
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
}


.logo {
  background-image: url(imgs/logo.png);
  width: 157px;
  height: 55px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: var(--spacing-md);
}

.nav-links a {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  position: relative;
  transition: color var(--transition-fast);
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--accent-blue);
  transition: width var(--transition-fast);
}

.nav-links a:hover {
  color: var(--accent-blue);
}

.nav-links a:hover::after {
  width: 100%;
}

.login-btn {
  padding: 10px 22px;
  background: var(--color-primary-hover);
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 8px;
  transition: background var(--color-primary-hover);
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background: var(--accent-blue);
}


/* Section */
.contact-section {
  padding: var(--section-padding);
  height: 100vh;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-lg);
  align-items: flex-start;
}

/* Left Info */
.contact-info h2 {
  color: var(--color-dark);
  font-family: var(--font-heading);
  font-size: var(--fs-h2);
  font-weight: 400;
  line-height: var(--lh-h2);
  margin-bottom: 12px;
}

.subtitle {
  color: var(--color-gray);
  font-family: var(--font-secondary);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: var(--lh-body);
  margin-bottom: var(--gap-md);
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap-sm);
  gap: 16px;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.email {
  background-image: url(imgs/email.png);
}

.phone {
  background-image: url(imgs/phone.png);
}

.location {
  background-image: url(imgs/location.png);
}

.hours {
  background-image: url(imgs/business.png);
}

.info-item h4 {
  color: var(--color-dark);
  font-family: var(--font-secondary);
  font-size: var(--fs-h4);
  font-weight: 400;
  line-height: var(--lh-h4);
  margin-bottom: 4px;
}

.info-item p {
  color: var(--color-gray);
  font-family: var(--font-secondary);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: var(--lh-body);
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 8px;
  color: var(--color-gray);
  font-family: var(--font-secondary);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: var(--lh-body);
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  margin-bottom: 20px;
  font-size: var(--fs-small);
}

.contact-form textarea {
  height: 140px;
  resize: none;
}

.contact-form button {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 16px;
  border: none;
  border-radius: var(--radius-md);
  font-size: var(--fs-body);
  cursor: pointer;
}

.contact-form button:hover {
  background: var(--color-primary-hover);
}

.success-msg {
  display: none;
  margin-top: 16px;
  color: var(--color-success);
  font-weight: 600;
}

