* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FEF2F2;
}

body{
  background: #FEF2F2;
}
.hero {
  height: 100vh;
background-image: url(imgs/Screenshot\ 2025-12-18\ 182324.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
  color: white;
  padding:15px 80px 40px 80px;
  position: relative;
  align-items: center;
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
background-image: url(imgs/logo.png);
width: 157px;
height: 55px;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease;
}

/* NAV HOVER */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #DBEAFE;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #DBEAFE;
}

.nav-links a:hover::after {
  width: 100%;
}

/* CONTENT */
.content {
  max-width: 640px;
  margin-top: 140px;
}

/* ANIMATION BASE */
.animate {
  opacity: 0;
  transform: translateX(-120%);
  transition: all 0.8s ease;
}

.hero.active .animate:nth-child(1) {
  transition-delay: 0.2s;
}
.hero.active .animate:nth-child(2) {
  transition-delay: 0.4s;
}
.hero.active .animate:nth-child(3) {
  transition-delay: 0.6s;
}

.hero.active .animate {
  opacity: 1;
  transform: translateX(0);
}

h1 {
color: #FFF;
font-family: "Poppins";
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 160%; 
  margin-bottom: 20px;
}

p {
color: rgba(255, 255, 255, 0.95);
font-family: "Arimo";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 40px */
  margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 26px;
  border-radius: 10px;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* BUTTON HOVER */
.primary {
  background: white;
  border: none;
color: #101828;

}

.primary:hover {
  background: #1F3C88;
  color: rgb(255, 255, 255);
  transform: translateY(-3px);
}

.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.secondary:hover {
  background: white;
  color: black;
  transform: translateY(-3px);
}

/* section */
.activity-section {
  background: #FEF2F2;
  position: relative;
  display: flex;
  align-items: flex-start;
    padding: 0 0 0 130px;
  overflow: hidden;
  margin-bottom: 100px;
}

/* النص */
.contentt {
  margin-top: 60px;
  width: 50%;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.8s ease;
}

.contentt h2 {
    color: #101828;
font-family: "Poppins";
font-size: 35px;
font-weight: 400;
line-height: 160%; /* 56px */
  margin-bottom: 20px;
}

.contentt p {
  margin-bottom: 15px;
color: #364153;
font-family: "Arimo";
font-size: 22px;
font-weight: 400;
line-height: 160%;
}

/* الصورة */
.image-wrapper {
  width: 50%;
  height: 843px;
  position: relative;
  overflow: visible;
}

.image-wrapper img {
  position: absolute;
  width: 591px;
  height: 843px;
  top: -156px;
  transform: translateY(0);
  transition: all 0.8s ease;
  opacity: 0;
}

.image-wrapper:hover img {
  transform: translateY(-100px);
  opacity: 1;
}


/* عند التفعيل */
.activity-section.active .contentt {
  opacity: 1;
  transform: translateX(0);
}

.activity-section.active .image-wrapper img {
  opacity: 1;
  transform: translateY(150px);
}


/* الجزء الأزرق */
.benefits-section {
background: #1F3C88;
  padding: 80px 80px 140px; /* padding-bottom كبير */
  text-align: center;
  color: white;
}

.benefits-section h2{
  color: #FFF;
font-family: "Poppins";
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}

.benefits-section-subtitle{
  width: 807px;
  margin-left: 265px;
  color: #FFF;
text-align: center;
font-family: "Arimo";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}

/* الخلفية الفاتحة */
.cards-wrapper {
  background: #fff5f3;
  padding-bottom: 80px;
}

/* الكروت */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;

  transform: translateY(-100px);
}

/* الكارد */
.card {
  background: white;
  width: 280px;
  height: 300px;
  padding: 30px 25px;
  border-radius: 16px;
  text-align: left;

box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.29), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
  /* animation */
  transform: translateX(120%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
}

.card h3 {
color: #101828;
font-size: 20px;
font-family: "Arimo";
  font-weight: 500;
  margin-bottom: 20px;
}

.card p {
width: 224px;
color: #4A5565;
font-family: "Arimo";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.icon img {
width: 56px;
height: 56px;
}


.card.physical:hover .icon {
box-shadow: 0 0 20px 0 #E7000B;
}

.card.mental:hover .icon {
box-shadow: 0 0 20px 0 #155DFC;
}

.card.energy:hover .icon {
box-shadow: 0 0 20px 0 #D08700;}


.card.disease:hover .icon {
box-shadow: 0 0 20px 0 #00A63E;
}

/* section 4 */

.evidence-section {
  padding: 80px;
  background: #fff5f3;
  text-align: center;
}

.evidence-title {
  color: #2C2C2C;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 160%;
  transform: translateY(-40px);
  opacity: 0;
  transition: 0.8s ease;
}

.evidence-subtitle {
  width: 807px;
  margin: 20px auto 60px;
  color: #4A5565;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  transform: translateY(-40px);
  opacity: 0;
  transition: 0.8s ease;
}

.evidence-section.show .evidence-title,
.evidence-section.show .evidence-subtitle {
  transform: translateY(0);
  opacity: 1;
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
}

.stat {
  width: 220px;
  transform: translateX(-80px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.evidence-section.show .stat {
  transform: translateX(0);
  opacity: 1;
}

.stat-icon {
width: 64px;
height: 64px;
  border-radius: 50%;
  background: #e6f0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.stat-icon img {
width: 64px;
height: 64px;
  object-fit: contain;
}

.stat:hover .stat-icon {
  box-shadow: 0 14px 28px rgba(21, 93, 252, 0.35);
  transform: scale(1.08);
}

/* الرقم + suffix */
.stat-value {
font-family: "Arimo";
  font-weight: 400;
  font-size: 36px;
color: #101828;
  margin-bottom: 8px;
}

/* العنوان */
.stat-title {
  font-family: "Arimo";
font-size: 20px;
  color: #101828;
  font-weight: 400;
  margin-bottom: 4px;
}

/* الوصف */
.stat-subtitle {
  font-family: "Arimo";
  font-size: 14px;
  font-weight: 400;
color: #4A5565;  
line-height: 1.6;
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.blue-box {
background: #DBEAFE;
  padding: 40px;
  opacity: 0;
  transition: 0.8s ease;
}

.blue-box p strong{
color: #101828;
text-align: center;
font-family: "Arimo";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 32px */
}

.blue-box p{
color: #101828;
text-align: center;
font-family: "Arimo";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
}

.blue-box h6{
  color: #4A5565;
text-align: center;
font-family: "Arimo";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px;}



.evidence-section.show .blue-box {
  opacity: 1;
}

/* section5 */

.sports-section {
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;
}

.sports-section h2 {
color: #2C2C2C;
text-align: center;
font-family: "Poppins";
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 160%;
  margin-bottom: 10px;
}

.sports-section p {
  max-width: 800px;
  margin: 0 auto 40px;
color: #4A5565;
text-align: center;
font-family: "Arimo";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: calc(300px * 6);
  animation: scroll 20s linear infinite;
}

.slider-track img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 15px;
}

/* Animation من اليمين للشمال */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}