* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FEF2F2;
}

.hero {
  height: 100vh;
background-image: url(imgs/Screenshot\ 2025-12-18\ 182324.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
  color: white;
  padding:15px 80px 40px 80px;
  position: relative;
  align-items: center;
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
background-image: url(imgs/logo.png);
width: 157px;
height: 55px;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease;
}

/* NAV HOVER */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #DBEAFE;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #DBEAFE;
}

.nav-links a:hover::after {
  width: 100%;
}

/* CONTENT */
.content {
  max-width: 640px;
  margin-top: 140px;
}

/* ANIMATION BASE */
.animate {
  opacity: 0;
  transform: translateX(-120%);
  transition: all 0.8s ease;
}

.hero.active .animate:nth-child(1) {
  transition-delay: 0.2s;
}
.hero.active .animate:nth-child(2) {
  transition-delay: 0.4s;
}
.hero.active .animate:nth-child(3) {
  transition-delay: 0.6s;
}

.hero.active .animate {
  opacity: 1;
  transform: translateX(0);
}

h1 {
color: #FFF;
font-family: "Poppins";
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 160%; 
  margin-bottom: 20px;
}

p {
color: rgba(255, 255, 255, 0.95);
font-family: "Arimo";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 40px */
  margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 26px;
  border-radius: 10px;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* BUTTON HOVER */
.primary {
  background: white;
  border: none;
color: #101828;

}

.primary:hover {
  background: #1F3C88;
  color: rgb(255, 255, 255);
  transform: translateY(-3px);
}

.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.secondary:hover {
  background: white;
  color: black;
  transform: translateY(-3px);
}

/* section */
.activity-section {
  position: relative;
  display: flex;
  align-items: flex-start;
    padding: 0 0 0 130px;
  overflow: hidden;
}

/* النص */
.contentt {
  margin-top: 60px;
  width: 50%;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.8s ease;
}

.contentt h2 {
    color: #101828;
font-family: "Poppins";
font-size: 35px;
font-weight: 400;
line-height: 160%; /* 56px */
  margin-bottom: 20px;
}

.contentt p {
  margin-bottom: 15px;
color: #364153;
font-family: "Arimo";
font-size: 22px;
font-weight: 400;
line-height: 160%;
}

/* الصورة */
.image-wrapper {
  width: 50%;
  height: 843px;
  position: relative;
  overflow: visible;
}

.image-wrapper img {
  position: absolute;
  width: 591px;
  height: 843px;
  top: -156px;
  transform: translateY(0);
  transition: all 0.8s ease;
  opacity: 0;
}

.image-wrapper:hover img {
  transform: translateY(-100px);
  opacity: 1;
}


/* عند التفعيل */
.activity-section.active .contentt {
  opacity: 1;
  transform: translateX(0);
}

.activity-section.active .image-wrapper img {
  opacity: 1;
  transform: translateY(150px);
}


/* الجزء الأزرق */
.benefits-section {
background: #1F3C88;
  padding: 80px 80px 140px; /* padding-bottom كبير */
  text-align: center;
  color: white;
}

.benefits-section h2{
  color: #FFF;
font-family: "Poppins";
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}

.benefits-section-subtitle{
  width: 807px;
  margin-left: 265px;
  color: #FFF;
text-align: center;
font-family: "Arimo";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}

/* الخلفية الفاتحة */
.cards-wrapper {
  background: #fff5f3;
  padding-bottom: 80px;
}

/* الكروت */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;

  transform: translateY(-100px);
}

/* الكارد */
.card {
  background: white;
  width: 280px;
  height: 300px;
  padding: 30px 25px;
  border-radius: 16px;
  text-align: left;

box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.29), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
  /* animation */
  transform: translateX(120%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
}

.card h3 {
color: #101828;
font-size: 20px;
font-family: "Arimo";
  font-weight: 500;
  margin-bottom: 20px;
}

.card p {
width: 224px;
color: #4A5565;
font-family: "Arimo";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}


.card:hover .icon {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}
